# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



/Account/150963832#4/*
/Account/156253078#1/*
/Account/161775949#4/*
/Account/Y334500189/*
/Account/151626634#3/*
/Account/408524430XSQ/*
/Account/161355723#1/*
/Account/574380227#1/*
/Account/574380227#2/*
/Account/161355723#3/*
/Account/237372419#1/*
/Account/237372419#2/*






